.container{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    padding: 5px 0;
    background-color: #004134;
    box-shadow: 0 0 50px rgba(0,0,0,.5);
    user-select: none;
    transition: bottom 0.4s;
}
.container:hidden{
    bottom: -100%;

}
    .keyboardKeys{
        text-align: center;
    }
        .keyboardKey{
            height: 45px;
            width: 6%;
            max-width: 90px;
            margin: 3px;
            border-radius: 4px;
            border: none;
            background-color:rgba(255,255,255,.2) ;
            color: #fff;
            font-size: 1.05rem;
            outline: none;
            cursor: pointer;

            /* these items center the icon in the key */
            display: inline-flex;
            align-items: center;
            justify-content: center;

            vertical-align: top;
            padding: 0;
            -webkit-tap-highlight-color: transparent;
            position: relative;
        }
        .keyboardKey:active{
            background-color:rgba(255,255,255,.12) ;
        }
        .wideKey{
            width: 12%;
        }
        .extraWideKey{
            width: 36%;
            max-width: 500px;
        }
