.container{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    padding: 5px 0;
    background-color: #004134;
    box-shadow: 0 0 50px rgba(0,0,0,.5);
    user-select: none;
    transition: bottom 0.4s;
}
.container:hidden{
    bottom: -100%;
    
}